body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: justify;
    text-indent: 15px;
    word-spacing: 5px;
}
h2 {
    color: black;
    font-style: normal;
}
h3 {
    text-decoration: underline;
    color: cadetblue;
    text-transform: uppercase;
}