body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: justify;
    text-indent: 15px;
    word-spacing: 5px;
    background-image: url(awan.jpg);
}
p {
    color: black;
    font-size: 12pt;
}
h1 {
    color: black;
    font-style: normal;
}
h3 {
    text-decoration: underline;
    color: blue;
    text-transform: uppercase;
}
th {
    color: black;
    font-size: 15px;
}
td {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 10pt;
}
tr {
    border-color: royalblue;
    background-color: skyblue;
}
ul li {
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;    
    color:black; 
}
ol li {
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.hello:link {
    color: crimson;
}
.hello:hover {
    font-family: arial;
    font-size: 20px;
    font-style: normal;
    color: red;
}