body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: justify;
    text-indent: 15px;
    word-spacing: 5px;
}
p {
    color: black;
}
h1 {
    color: black;
    font-style: normal;
    background-color:cadetblue;
    border-radius: 100px;
}
h3 {
    text-decoration: underline;
    color: cadetblue;
    text-transform: uppercase;
}
th {
    color: black;
    font-size: 25px;
}
td {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
tr {
    border-color: royalblue;
    background-color: skyblue;
}
ul {
    background-color: skyblue;
}
